node_modules/
config.env
ls

dist/
build/
out/

.env
.env.*

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

.cache/
.npm/
.eslintcache

coverage/

cypress/videos/
cypress/screenshots/