@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    padding: 2vh;
}

.header {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    margin-left:5vw;
    margin-right: 5vw;
}

.post-button {
    position: absolute;
    top: 2vh;
    right: 2vw;
}

.logout-button {
    position: absolute;
    top: 4vh;
    left: 2vw;
}

.profile-button {
    position: absolute;
    top: 2vh;
    left: 2vw;
}